<app-header></app-header>
<div class="main-content min-h-screen flex flex-col relative">
    <div class="flex-grow">
        <div class="fondo-principal">
            <img src="fondo-home.jpg" alt="fondo-principal">
        </div>
        <div class="logo-fondo">
            <img src="log.png" alt="logo-fondo">
        </div>
        <p class="frace">"Servicios Que Simplifican Tu Vida"</p>
        <div class="video">
            <video autoplay loop muted playsinline>
                <source src="video.mp4" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>
    </div>
</div>
<app-footer></app-footer>