<app-header></app-header>
<div class="mensajes-masivos-container min-h-screen flex flex-col relative">

  <div class="mt-8 mx-8">
    <app-navigation [navigationItems]="navigationItems"></app-navigation>
  </div>

  <div class="flex flex-row items-start p-4">
    <button (click)="navegarCrearMensajes()" class="custom-btn">
      <img src="sms.png" alt="Mensajes Masivos" class="icon-sms" />
      <span class="mt-1 text-xs md:text-sm lg:text-base text-gray-700 font-semibold">Crear Mensajes</span>
    </button>

    <button (click)="navegarHistorial()" class="custom-btn">
      <img src="history.png" alt="Historial" class="icon-his" />
      <span class="mt-1 text-xs md:text-sm lg:text-base text-gray-700 font-semibold">Historial</span>
    </button>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8 w-full flex-grow">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-margin">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Título
            <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('titulo')"></i>
            <br>
            <input *ngIf="activeFilters['titulo']" type="text" class="mt-2 p-1 border rounded" (input)="applyColumnFilter($event, 'titulo')">
          </th>
          <th scope="col" class="px-6 py-3">
            Descripción
            <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('descripcion')"></i>
            <br>
            <input *ngIf="activeFilters['descripcion']" type="text" class="mt-2 p-1 border rounded" (input)="applyColumnFilter($event, 'descripcion')">
          </th>
          <th scope="col" class="px-6 py-3">
            Fecha Creación
            <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('fechaCreacion')"></i>
            <br>
            <input *ngIf="activeFilters['fechaCreacion']" type="text" class="mt-2 p-1 border rounded" (input)="applyColumnFilter($event, 'fechaCreacion')">
          </th>
          <th scope="col" class="px-6 py-3">
            Archivo
            <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('archivo')"></i>
            <br>
            <input *ngIf="activeFilters['archivo']" type="text" class="mt-2 p-1 border rounded" (input)="applyColumnFilter($event, 'archivo')">
          </th>
          <th scope="col" class="px-6 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4">{{ item.titulo }}</td>
          <td class="px-6 py-4">{{ item.descripcion }}</td>
          <td class="px-6 py-4">{{ item.fechaCreacion }}</td>
          <td class="px-6 py-4">{{ item.archivo }}</td>
          <td class="px-6 py-4 text-center">
            <div class="flex flex-wrap justify-center gap-2">
              <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded cursor-pointer">Eliminar</button>
              <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded cursor-pointer">Editar</button>
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded cursor-pointer">Enviar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>