<app-header></app-header>

<div class="min-h-screen bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
        <app-navigation [navigationItems]="navigationItems" class="w-full mb-6"></app-navigation>

        <div class="max-w-3xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 sm:p-8">
            <h2 class="text-4xl font-extrabold text-center text-gray-800 dark:text-gray-200 mb-8">
                Mensajes
            </h2>

            <div class="space-y-8">

                <div class="text-center">
                    <p class="text-lg font-semibold mb-4">Enviar a:</p>
                    <div class="flex justify-center space-x-6">
                        <button style="cursor: pointer;"
                            class="flex items-center justify-center w-14 h-14 rounded-full border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-300"
                            (click)="selectIcon('single')"
                            [ngClass]="{'bg-blue-500 text-white border-blue-500': selectedIcon === 'single'}">
                            <i class="fa-solid fa-user text-2xl"></i>
                        </button>
                        <button style="cursor: pointer;"
                            class="flex items-center justify-center w-14 h-14 rounded-full border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 transition-all duration-300"
                            (click)="selectIcon('multiple')"
                            [ngClass]="{'bg-blue-500 text-white border-blue-500': selectedIcon === 'multiple'}">
                            <i class="fa-solid fa-users text-2xl"></i>
                        </button>
                    </div>
                </div>

                <div *ngIf="showSelect">
                    <label for="user-select"
                        class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2 text-center">Seleccionar
                        Usuario:</label>
                    <select (change)="onUserSelected($event)"
                        class="w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-gray-700 dark:text-gray-200">
                        <option value="">Seleccione un usuario.....</option>
                        <option *ngFor="let person of persons" [value]="person.id">{{ person.nombre }}</option>
                    </select>
                </div>


                <form class="space-y-6">
                    <div>
                        <label for="floating_titulo"
                            class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Título:</label>
                        <input type="text" name="titulo" id="floating_titulo"
                            class="w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-gray-700 dark:text-gray-200 tracking-wide p-3"
                            placeholder="Ingrese el título" required [(ngModel)]="title" />

                    </div>

                    <div>
                        <label for="message"
                            class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Descripción:</label>
                        <textarea name="message" rows="4"
                            class="w-full rounded-md border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 text-gray-700 dark:text-gray-200 tracking-wide p-3"
                            placeholder="Ingrese la descripción" [(ngModel)]="description"></textarea>

                    </div>
                </form>


                <div class="flex justify-center">
                    <button style="cursor: pointer;" (click)="sendMessage()"
                        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition-all duration-300 text-lg">
                        Enviar Mensaje
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>