<div class="flex items-center justify-center h-screen bg-cover bg-center" 
     style="background-image: url('/12345.jpg');">
    <div class="bg-sky-100 p-8 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-semibold mb-4 text-center text-gray-800">
        Crear contraseña
      </h2>
      <form [formGroup]="resetForm" (ngSubmit)="createPassword()">
        <div class="mb-4 relative">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Ingresar contraseña:
          </label>
          <div class="relative w-full">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newPassword"
              class="shadow appearance-none border rounded-full w-full py-2 px-3 pr-10 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Ingrese su nueva contraseña"
              required
            />
            <span
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (click)="togglePassword()"
            >
              <i [ngClass]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
            </span>
          </div>
          
        </div>
  
        <div class="mb-4 relative">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Confirmar contraseña:
          </label>
          <div class="relative w-full">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="shadow appearance-none border rounded-full w-full py-2 px-3 pr-10 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Confirme su nueva contraseña"
              required
            />
            <span
              class="absolute inset-y-0 right-3 flex items-center cursor-pointer"
              (click)="showConfirmPassword = !showConfirmPassword"
            >
              <i [ngClass]="showConfirmPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
            </span>
          </div>
          
          <small *ngIf="resetForm.hasError('mismatch')" class="text-red-600 text-sm">
            Las contraseñas no coinciden
          </small>
        </div>
  
        <button
          type="submit"
          class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-full focus:outline-none focus:shadow-outline"
          [disabled]="resetForm.invalid"
          style="cursor: pointer;">
          GUARDAR CONTRASEÑA
        </button>
      </form>
  
      <div class="mt-4 text-center">
        <a (click)="goTo('/login')" class="text-blue-600 hover:underline" style="cursor: pointer;">
          Regresar al login
        </a>
      </div>
    </div>
  </div>