<app-header></app-header>

<div class="mensajes-masivos-container min-h-screen flex flex-col relative">
  <div class="relative">
    <div class="mt-8 mx-8">
      <app-navigation [navigationItems]="navigationItems"></app-navigation>
    </div>

    <div class="flex justify-between items-center" style="margin-top: -80px; margin-left: 10px">
      <img src="port.png" alt="Logo" class="logo" />
      <button style="cursor: pointer" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
        routerLink="/payments/create-pay">
        Crear Pago
      </button>
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg flex-grow">
    <div
      class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
    >
      <div class="relative">
        <label for="table-search" class="sr-only">Search</label>
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          id="table-search-payments"
          class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search for payments"
          (input)="applyFilter($event)"
        />
      </div>
      <div class="relative">
        <button
          id="dropdownActionButton"
          (click)="toggleDropdown()"
          class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          type="button"
        >
          <span class="sr-only">Action button</span>
          Select Columns
          <svg
            class="w-2.5 h-2.5 ms-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <div
          id="dropdownAction"
          class="fixed z-20 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 max-h-60 overflow-y-auto dark:bg-gray-700 dark:divide-gray-600"
        >
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionButton">
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                disabled
              >
                <input type="checkbox" checked class="mr-2" disabled /> Usuario
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                disabled
              >
                <input type="checkbox" checked class="mr-2" disabled /> Tipo de plan
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="toggleColumn('valorPago', $event)"
              >
                <input type="checkbox" [checked]="isColumnSelected('valorPago')" class="mr-2" />
                Valor de pago
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="toggleColumn('fechaPago', $event)"
              >
                <input type="checkbox" [checked]="isColumnSelected('fechaPago')" class="mr-2" />
                Fecha de pago
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="toggleColumn('origenPago', $event)"
              >
                <input type="checkbox" [checked]="isColumnSelected('origenPago')" class="mr-2" />
                Origen de pago
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="toggleColumn('destinoPago', $event)"
              >
                <input type="checkbox" [checked]="isColumnSelected('destinoPago')" class="mr-2" />
                Destino de pago
              </button>
            </li>
            <li>
              <button
                class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="toggleColumn('referencia', $event)"
              >
                <input type="checkbox" [checked]="isColumnSelected('referencia')" class="mr-2" />
                Referencia
              </button></li>
              <li>
                <button
                  class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="toggleColumn('vigenciaDesde', $event)"
                >
                  <input type="checkbox" [checked]="isColumnSelected('vigenciaDesde')" class="mr-2" />
                  Vigencia Desde
                </button>
              </li>
              <li>
                <button
                  class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="toggleColumn('vigenciaHasta', $event)"
                >
                  <input type="checkbox" [checked]="isColumnSelected('vigenciaHasta')" class="mr-2" />
                  Vigencia hasta
                </button>
              </li>
              <li>
                <button
                  class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="toggleColumn('diasVigencia', $event)"
                >
                  <input type="checkbox" [checked]="isColumnSelected('diasVigencia')" class="mr-2" />
                  Dias de vigencia
                </button>
              </li>
              <li>
                <button
                  class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="toggleColumn('activo', $event)"
                >
                  <input type="checkbox" [checked]="isColumnSelected('activo')" class="mr-2" />
                  Estado
                </button>
              </li>
              <li>
                <button
                  class="block w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="toggleColumn('operacion', $event)"
                >
                  <input type="checkbox" [checked]="isColumnSelected('operacion')" class="mr-2" disabled />
                  Operación
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-margin">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Usuario
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('persona')"></i>
              <br />
              <input *ngIf="activeFilters['persona']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'persona')" />
            </th>
            <th scope="col" class="px-6 py-3">
              Tipo de plan
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('tipoPlan')"></i>
              <br />
              <input *ngIf="activeFilters['tipoPlan']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'tipoPlan')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('valorPago')">
              Valor de pago
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('valorPago')"></i>
              <br />
              <input *ngIf="activeFilters['valorPago']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'valorPago')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('fechaPago')">
              Fecha de pago
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('fechaPago')"></i>
              <br />
              <input *ngIf="activeFilters['fechaPago']" type="date" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'fechaPago')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('origenPago')">
              Origen de pago
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('origenPago')"></i>
              <br />
              <input *ngIf="activeFilters['origenPago']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'origenPago')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('destinoPago')">
              Destino de pago
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('destinoPago')"></i>
              <br />
              <input *ngIf="activeFilters['destinoPago']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'destinoPago')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('referencia')">
              Referencia
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('referencia')"></i>
              <br />
              <input *ngIf="activeFilters['referencia']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'referencia')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('vigenciaDesde')">
              Vigencia desde
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('vigenciaDesde')"></i>
              <br />
              <input *ngIf="activeFilters['vigenciaDesde']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'vigenciaDesde')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('vigenciaHasta')">
              Vigencia hasta
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('vigenciaHasta')"></i>
              <br />
              <input *ngIf="activeFilters['vigenciaHasta']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'vigenciaHasta')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('diasVigencia')">
              Dias de vigencia
              <i class="fas fa-filter cursor-pointer ml-2" (click)="toggleFilter('diasVigencia')"></i>
              <br />
              <input *ngIf="activeFilters['diasVigencia']" type="text" class="mt-2 p-1 border rounded"
                (input)="applyColumnFilter($event, 'diasVigencia')" />
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('activo')">
              Estado
              <i class="fas fa-filter cursor-pointer ml-2"></i>
            </th>
            <th scope="col" class="px-6 py-3" *ngIf="isColumnSelected('operacion')">
              Operación
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
            let payments of datosPaginados;
            index as i;
            first as isFirst;
            last as isLast
          " class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4">
              {{ payments.persona.nombre }}
            </td>
            <td class="px-6 py-4">{{ payments.tipoPlan.nombre }}
            </td>
            <td class="px-6 py-4" *ngIf="isColumnSelected('valorPago')">
              {{ payments.valorPago | currency : "$" : "symbol" : "1.0-0" }}
            </td>
            <td class="px-6 py-4" *ngIf="isColumnSelected('fechaPago')">
              {{ payments.fechaPago }}
            </td>
            <td class="px-6 py-4" *ngIf="isColumnSelected('origenPago')">
              {{ payments.origenPago.nombre }}
            </td>
            <td class="px-6 py-4" *ngIf="isColumnSelected('destinoPago')">
              {{ payments.destinoPago.nombre }}
            </td>
  
            <td class="px-6 py-4" *ngIf="isColumnSelected('referencia')">
              {{ payments.referencia }}
            </td>
  
            <td class="px-6 py-4" *ngIf="isColumnSelected('vigenciaDesde')">
              {{ payments.vigenciaDesde }}
            </td>
            <td class="px-6 py-4" *ngIf="isColumnSelected('vigenciaHasta')">
              {{ payments.vigenciaHasta }}
            </td>
            <td class="px-6 py-4" *ngIf="isColumnSelected('diasVigencia')">
              {{ payments.diasVigencia }}
            </td>
  
            <td class="px-6 py-4" *ngIf="isColumnSelected('activo')">
              {{ payments.activo ? "Activo" : "Inactivo" }}
            </td>
  
            <td class="px-6 py-4 text-center" relative>
  
              <a class="text-green-600 cursor-pointer mr-2" (click)="togglePopover(payments.id)">
                <i class="fa-solid fa-comment"></i>
              </a>
  
              <a [routerLink]="['/payments/edit-pay', payments.id]" class="text-blue-600 hover:underline mr-2">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
  
              <a class="text-red-600 hover:underline cursor-pointer" (click)="
                deletePayment(payments.id.toString(), payments.persona.nombre)
              ">
                <i class="fa-solid fa-trash"></i>
              </a>
  
              <div id="popover" *ngIf="showPopover === payments.id"
                class="absolute z-50 bg-white border shadow-lg p-3 w-64 top-8 right-0 rounded-md">
                <div class="flex items-center space-x-2 mb-2">
                  <input type="text" [(ngModel)]="newComment" class="w-full p-2 border rounded"
                    placeholder="Comentario..." />
                  <button style="cursor: pointer" class="bg-blue-500 text-white px-3 py-1 rounded"
                    (click)="saveComment(payments.id)">
                    <i class="fa-solid fa-paper-plane"></i>
                  </button>
                </div>
  
                <div *ngFor="let comment of commentsList; let i = index"
                  class="p-2 bg-gray-100 rounded mb-1 text-black relative">
                  {{ comment.descripcion }}
                  <button *ngIf="comment.id !== undefined && comment.id !== null"
                    (click)="deleteComment(comment.id, i)"
                    class="absolute top-0 right-0 p-1 text-red-500 hover:text-red-700">
                    <i style="cursor: pointer" class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-center items-center space-x-4 mt-4">
        <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1"
          class="px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 disabled:opacity-50 disabled:cursor-not-allowed">
          Anterior
        </button>
  
        <span class="text-lg font-semibold">
          Página {{ paginaActual }} de {{ totalPaginas() }}
        </span>
  
        <button (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas()"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:opacity-50 disabled:cursor-not-allowed">
          Siguiente
        </button>
      </div>
  
      <div class="flex justify-end items-center">
        <button style="cursor: pointer; margin-top: 20px"
          class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 flex items-center"
          (click)="exportToExcel()">
          <i class="fas fa-file-excel mr-2"></i> Descargar Excel
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>