/* Estilos para el contenido principal */
.main-content {
  padding-bottom: 40px; /* Opcional, para dar espacio extra al final */
}

/* Estilos para el footer */
.footer {
  background-color: #6d6d6d;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 30px; /* Separa el footer del contenido anterior */
}

.footer .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer nav {
  margin-top: 10px;
}

.footer nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
}

.footer nav a:hover {
  text-decoration: underline;
}